# Ignore virtual environment directories
venv/
.env/

# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# Ignore distribution and packaging directories
build/
dist/
*.egg-info/

# Ignore editor and IDE configuration files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
